# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
venv/
env/

# Database
*.db
*.sqlite

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/

# Large files
*.rar
*.zip
client/TESTORDER.xlsx
image.png
